<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="restws"
			id="com.communote.restws.RestWebservice"
			name="RestWebservice Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="com.communote.restws.RestWebservice.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="com.communote.restws.RestWebservice.validate">
		<activeWhen>
			<reference
					definitionId="com.communote.restws.RestWebservice.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="com.communote.restws.RestWebservice.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="com.communote.restws.RestWebservice.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.communote.restws.RestWebservice.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="com.communote.restws.RestWebservice" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
		<definition id="com.communote.restws.RestWebservice.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="com.communote.restws.RestWebservice" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="com.communote.restws.RestWebservice"
			name="RestWebservice">
			<keywordReference id="com.communote.restws.ui.keyword_RestWebservice"/>
		</page>
		<page
			category="com.communote.restws.RestWebservice"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="com.communote.restws.RestWebservice.coloring"
			name="Syntax Coloring">
			<keywordReference id="com.communote.restws.ui.keyword_RestWebservice"/>
		</page>
		<page
			category="com.communote.restws.RestWebservice"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="com.communote.restws.RestWebservice.templates"
			name="Templates">
			<keywordReference id="com.communote.restws.ui.keyword_RestWebservice"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="com.communote.restws.RestWebservice"
			name="RestWebservice">
			<keywordReference id="com.communote.restws.ui.keyword_RestWebservice"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="com.communote.restws.ui.keyword_RestWebservice"
			label="RestWebservice"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="com.communote.restws.RestWebservice.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="com.communote.restws.RestWebservice.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="com.communote.restws.RestWebservice.Editor.opened">
				</reference>
			</visibleWhen>
		</command>  
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.communote.restws.RestWebservice.Editor.opened" />
				</visibleWhen>
			</command>  
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.communote.restws.RestWebservice.Editor.opened" />
				</visibleWhen>
			</command>  
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="com.communote.restws.RestWebservice.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.communote.restws.RestWebservice.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="com.communote.restws.RestWebservice.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="restws">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
	    <resourceServiceProvider
	        class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
	        uriExtension="restws">
	    </resourceServiceProvider>
	</extension>
	<!-- marker definitions for com.communote.restws.RestWebservice -->
	<extension
			id="restwebservice.check.fast"
			name="RestWebservice Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="restwebservice.check.normal"
			name="RestWebservice Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="restwebservice.check.expensive"
			name="RestWebservice Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="restws"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="com.communote.restws.RestWebservice"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="com.communote.restws.RestWebservice.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="com.communote.restws.ui.keyword_RestWebservice"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="com.communote.restws.RestWebservice"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="com.communote.restws.RestWebservice.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="com.communote.restws.ui.keyword_RestWebservice"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="com.communote.restws.RestWebservice.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.communote.restws.RestWebservice.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="com.communote.restws.RestWebservice.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="com.communote.restws.RestWebservice.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.communote.restws.RestWebservice.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for com.communote.restws.RestWebservice -->
	<extension
	        point="org.eclipse.ui.ide.markerResolution">
	    <markerResolutionGenerator
	        class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
	        markerType="com.communote.restws.ui.restwebservice.check.fast">
	        <attribute
	            name="FIXABLE_KEY"
	            value="true">
	        </attribute>
	    </markerResolutionGenerator>
	    <markerResolutionGenerator
	        class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
	        markerType="com.communote.restws.ui.restwebservice.check.normal">
	        <attribute
	            name="FIXABLE_KEY"
	            value="true">
	        </attribute>
	    </markerResolutionGenerator>
	    <markerResolutionGenerator
	        class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
	        markerType="com.communote.restws.ui.restwebservice.check.expensive">
	        <attribute
	            name="FIXABLE_KEY"
	            value="true">
	        </attribute>
	    </markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="com.communote.restws.RestWebservice.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="com.communote.restws.RestWebservice.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="com.communote.restws.RestWebservice"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="com.communote.restws.RestWebservice.refactoring"
			name="Refactoring">
			<keywordReference id="com.communote.restws.ui.keyword_RestWebservice"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="com.communote.restws.RestWebservice.compare.contentViewers"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="restws">
		</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="com.communote.restws.RestWebservice.compare.contentMergeViewers"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="restws" label="RestWebservice Compare">
		</viewer>
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="com.communote.restws.RestWebservice.editors.documentProviders"
			class="com.communote.restws.ui.RestWebserviceExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="restws">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="restws"
			type="text">
		</fileTypes>
	</extension>
</plugin>
